<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxrs="http://cxf.apache.org/jaxrs"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xsi:schemaLocation="   
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd   
       http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd   
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">  
             
    <!-- 引入CXF下面的配置文件 -->  
    <import resource="classpath:META-INF/cxf/cxf.xml" />  
    <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />  
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />  
  
    <!-- 将Bean托管给Spring --> 
    <bean id="testService" class="com.smokeTest.TestService"></bean>
    <bean id="userManagementService" class="com.viewfunction.vfmab.restful.userManagement.UserManagementService"></bean>
    <bean id="activityManagementService" class="com.viewfunction.vfmab.restful.activityManagement.ActivityManagementService"></bean>    
    <bean id="contentManagementService" class="com.viewfunction.vfmab.restful.contentManagement.ContentManagementService"></bean>    
    <bean id="documentManagementService" class="com.viewfunction.vfmab.restful.documentManagement.DocumentManagementService"></bean>
    <bean id="commentManagementService" class="com.viewfunction.vfmab.restful.commentManagement.CommentManagementService"></bean>
      
    <!-- 配置需要暴露的BeanService -->  
    <jaxrs:server id="restContainer" address="/">  
        <jaxrs:serviceBeans>
            <ref bean="testService" />  
            <ref bean="userManagementService" /> 
            <ref bean="activityManagementService" />
            <ref bean="contentManagementService" /> 
            <ref bean="documentManagementService" />
            <ref bean="commentManagementService" />           
        </jaxrs:serviceBeans>         
        <jaxrs:providers> 
        	<bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"/> 
        </jaxrs:providers>
    </jaxrs:server>   
</beans> 